SUPABASE_URL=https://velgllhhzqnmhmuobcia.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlbGdsbGhoenFubWhtdW9iY2lhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDA2MjY3MiwiZXhwIjoyMDk5NjM4NjcyfQ.RskYV5gj9drv-kGdbi4NTX2iWRWpHcPG_3jq4Jjwf2M
WEBHOOK_SECRET=1e969736-eed3-4cc5-8212-a133103be952
OPENAI_API_KEY=sk-your-openai-api-key
